@model Pie
<div class="card m-2" style="width: 15rem;">
        <div class="thumbnail">   
            <img class="card-img-top" src="@Model.ImageThumbnailUrl" alt="Card image" />
            <div class="card-body form-control">
                <h3 class="card-text">Price: #@Model.Price.ToString(".00")</h3> 
                <h3>
                    <a asp-controller="Pie"
                        asp-action="Details"
                        asp-route-id="@Model.PieId">@Model.Name</a>
                </h3>
                <p>@Model.ShortDescription</p>
                <div >
                    <p class="button">
                        <a class="btn btn-success"
                           asp-controller="ShoppingCart"
                           asp-action="AddToShoppingCart"
                           asp-route-pieId="@Model.PieId">Add to cart</a>
                    </p>
                </div>
            </div>
      </div> 
</div>